#workbench\.parts\.statusbar:has([aria-label="-- NORMAL --"]) {
    background-color: #77a221 !important;
}

#workbench\.parts\.statusbar:has([aria-label="-- INSERT --"]) {
    background-color: #b31b53 !important;
}

#workbench\.parts\.statusbar:has([aria-label="-- VISUAL --"]) {
    background-color: #4a9cac !important;
}

#workbench\.parts\.statusbar:has([aria-label="-- VISUAL LINE --"]) {
    background-color: #8361c1 !important;
}

#workbench\.parts\.statusbar:has([aria-label="-- VISUAL BLOCK --"]) {
    background-color: #bd6f17 !important;
}